.joinGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
  background-color: white;
  --card-width: 60px;
  width: var(--card-width);
  height: calc(var(--card-width) * (3.5 / 2.5));
}

.emptyCard {
  background-color: #c3c3c3;
}

.gameRoom {
  margin: 50px;
}

.row {
  display: flex;
}

.verticalCenter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
