.joinGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  --card-width: 60px;
  width: var(--card-width);
  height: calc(var(--card-width) * (3.5 / 2.5));
}

.cardNumber {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.cardPips {
  font-size: 12px;
  line-height: 5px;
  font-weight: bold;
}

.row .card {
  margin-right: 20px;
}

.emptyCard {
  background-color: #c3c3c3;
}

.gameRoom {
  margin: 50px;
  display: flex;
}

.hand {
  padding: 10px;
  background-color: #c3c3c3;
  border-radius: 5px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.verticalCenter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedCard {
  border: 2px solid red;
}

.boardAndCardsToPlay {
  display: flex;
  justify-content: space-between;
}

.handAndBoard {
  flex-basis: 80vw;
}

.playerList {
  margin-top: 1em;
  flex-grow: 1;
}

.gamePlayerList {
  margin-left: 10px;
  border-left: 1px solid black;
  text-align: right;
  list-style: none;
}

.cardsToPlay {
  display: flex;
}

.cardToPlay {
  margin-left: 20px;
  text-align: center;
}
